*{
    box-sizing: border-box;
    
}
body{
    margin: 0 auto;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 12.5px;
}

#header{
    height: 65px;
    border:2px solid rgb(116, 228, 194);
    background-color: rgb(15, 170, 124);
    border-radius: 2.5px;
    text-align: center;
    font-family: zen tokyo zoo;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.gambian-flag{
    max-width: 100%;
    border-radius: 100%;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    gap: 27.5px;
} 

.img{
    max-width: 100%;
}

.boxes{
    border-radius: 5px;
}

#div-1{
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    background-image: url("../images/taxi-gambia-serekunda-07.jpg");
    background-size: 100% 100%;
}

#div-2{
    grid-column: 4 / span 3;    
    background-image: url("../images/Arch-22.jpg");
    background-size: 100% 100%;  
}

#div-3{
    grid-column: 7/ span 3 ;
    background-image: url("../images/gambian-women-working-on-fish-market-stall-serrekunda-market-serrekunda-DT268A.jpg");
    background-size: 100% 100%;
}

#div-4{
    grid-column: 10 / span 3 ;
    background-image: url("../images/istockphoto-652628146-170667a.jpg");
    background-size: 100% 100%;
}

#div-5{
    grid-column: 4 / span 3 ;
    grid-row: 2 / span 2;
    background-image: url("../images/Woman\ in\ Traditional\ dress.jpg");
    background-size: 100% 100%;
}

#div-6{
    grid-column: 7 / span 3 ;
    background-image: url("../images/Benachin.jpg");
    background-size: 100% 100%;
}

#div-7{
    grid-column: 10 / span 3 ;
    background-image: url("../images/playground-banjul-gambia-HJXNXP.jpg");
    background-size: 100% 100%;
}

#div-8{
    grid-column: 1 / span 3 ;
    background-image: url("../images/1296x864.jpg");
    background-size: 100% 100%;
}

#div-9{
    grid-column: 7 / span 3 ;
    background-image: url("../images/HelpMeSee-Haddy-Story-Our-First-Surgeon-in-The-Gambia-001.png");
    background-size: 100% 100%;
}

#div-10{
    grid-column: 10 / span 3 ;
    background-image: url("../images/Animal_in_Abuko.jpg");
    background-size: 100% 100%;
}


